body {
  background-image: url("fondo_negro.jpg");
  border: solid;
  border-color: orange;
}

.fuente {
  background-color: lightblue;
  text-align: center;
  margin: 25px;
}

.PGM {
  background-color: lightgreen;
  text-align: center;
  margin: 0px;
}

.selector {
  border:3px solid red;
}
